[submodule "nvim"]
	path = src/user/modules/utils/modules/neovim/config/nvim
	url = https://github.com/itme-brain/nvim.git

[submodule "vim"]
	path = src/user/modules/utils/modules/vim/vim
	url = https://github.com/itme-brain/vim.git

[submodule "git"]
	path = src/user/modules/git/git
	url = https://github.com/itme-brain/git.git

[submodule "bash"]
	path = src/user/modules/bash/config/bash
	url = https://github.com/itme-brain/bash.git
